<div class="mt-7">
  <p class="text-white font-semibold mb-2 text-3xl font-mono tracking-wide">
    {{ title }}
  </p>
  <div>
    <swiper-container
      navigation="true"
      mousewheel="true"
      slides-per-view="7"
      space-between="0"
      free-mode="true"
      observer="true"
      observe-parents="true"
    >
      @for (movie of movies; track $index) {
      <swiper-slide class="h-[400px]">
        <div class="relative pt-4 pl-3 pr-3">
          <img
            (click)="onClickMovie(movie.id)"
            class="rounded-3xl hover:cursor-pointer hover:-translate-y-1 hover:scale-110 duration-300 hover:ring-0"
            [src]="tmdbConfig.imagePath + movie.poster_path"
          />
          <app-movie-card
            [isDisplayImage]="isDisplayImage"
            [movie]="movie"
            [index]="$index"
          ></app-movie-card>
        </div>
      </swiper-slide>

      } @empty {
      <h4>Loading...</h4>
      }
    </swiper-container>
  </div>
</div>
