<div
  class="h-screen bg-cover"
  [ngStyle]="{
    'background-image': 'url(' + bgImgUrl + ')',
  }"
>
  <app-header></app-header>
  <div class="flex justify-center">
    <div
      class="mt-64 min-[400px]:mt-72 bg-black w-96 p-12 rounded-xl bg-opacity-80"
    >
      <h2 class="font-bold text-white text-2xl mb-4">Sign In</h2>
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <div class="mb-4">
          <input
            type="text"
            name="email"
            formControlName="email"
            class="w-full bg-slate-700 p-3 rounded text-white"
            placeholder="Email or phone number"
          />
          @if (submitted && f['email'].errors) {
          <div class="text-red-700">
            @if (f['email'].errors['required']) {
            <div>Email is required</div>
            } @if (f['email'].errors['email']) {
            <div>Email is invalid</div>
            }
          </div>
          }
        </div>
        <div class="mb-4">
          <input
            type="password"
            name="password"
            class="w-full bg-slate-700 p-3 rounded text-white"
            formControlName="password"
            placeholder="Password"
          />
          @if (submitted && f['password'].errors) {
          <div class="text-red-700">
            @if (f['password'].errors['required']) {
            <div>Password is required</div>
            } @if (f['password'].errors['minlength']) {
            <div>Password must be at least 6 characters</div>
            } @if (f['password'].errors['maxlength']) {
            <div>Username must not exceed 40 characters</div>
            }
          </div>
          }
        </div>
        <div class="flex justify-center align-middle text-center">
          <button class="bg-red-800 p-1.5 w-full text-white rounded text-lg">
            Sign In
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
