.login-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  .login-card {
    margin-top: 12rem;
    background-color: black;
    width: 400px;
    padding: 48px 48px;
    .heading {
      font-size: 24px;
      font-weight: bold;
      color: white;
      margin-bottom: 16px;
    }
  }
}

.form-field {
  margin-bottom: 16px;
  .input {
    width: 100%;
    background-color: rgb(65, 65, 65);
    padding: 10px 10px;
    border-radius: 3px;
    color: white;
  }
}

.action-field {
  display: flex;
  justify-content: center;
  .login-btn {
    background-color: red;
    padding: 8px 12px;
    width: 100%;
    border-radius: 3px;
    color: white;
    font-size: bold;
  }
}
